{% extends base_template %}
{% trans_default_domain "WeProvideTranslationBundle" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/weprovidetranslation/css/styles.css') }}">
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
      var CKEDITOR_BASEPATH = '/bundles/ivoryckeditor/';
    </script>

    <script type="text/javascript" src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>

    <script type="text/javascript">
      CKEDITOR.config.autoParagraph = false;
      CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
      CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_BR;
      CKEDITOR.config.forcePasteAsPlainText = true
    </script>
{% endblock %}

{% block title %}
    - {% trans %}Translation edit{% endtrans %}
{% endblock %}


{% block breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="{{ admin.generateUrl('list') }}">
                    {% trans %}Translation list{% endtrans %}
                </a>
            </li>
            <li class="active"><span class="breadcrumb-ellipsis">{% trans %}Translation edit{% endtrans %}: {{ id }}</span></li>
        </ol>
    </div>
{% endblock %}


{% block form %}
    {# TODO: this form should be build with a formbuilder, more Symfony alike #}
    <form method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {% trans %}Translation{% endtrans %}
                                </h4>
                            </div>
                            <div class="box-body">

                                <div class="sonata-ba-collapsed-fields">

                                    <div class="form-group" id="sonata-ba-field-container-s59bbdde366ad9_domain">
                                        <label class="control-label required" for="s59bbdde366ad9_domain">
                                            {% trans %}Domain{% endtrans %}
                                        </label>

                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            <input id="s59bbdde366ad9_domain" name="domain" disabled="disabled" required="required" class=" form-control" value="{{ domain }}" type="text"/>
                                        </div>
                                    </div>


                                    <div class="form-group" id="sonata-ba-field-container-s59bbdde366ad9_id">
                                        <label class="control-label required" for="s59bbdde366ad9_id">
                                            {% trans %}Label{% endtrans %}
                                        </label>

                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            <input id="s59bbdde366ad9_id" name="id" disabled="disabled" required="required" class=" form-control" value="{{ id }}" type="text"/>
                                        </div>
                                    </div>


                                    {% for locale, translation in translations %}

                                        <div class="form-group" id="sonata-ba-field-container-s59bbdde366ad9_localeString">
                                            <label class="control-label required" for="s59bbdde366ad9_localeString">
                                                {{ locale }}
                                            </label>

                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                <textarea id="s59bbdde366ad9_localeString" name="localeString[{{ locale }}]" required="required" class=" form-control ckeditor">{{ translation.localeString }}</textarea>
                                            </div>
                                        </div>

                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input id="s59bbdde366ad9__token" name="s59bbdde366ad9[_token]" class=" form-control" value="caCDNkIlpVimWWqGnu_3t0OcDG1ml88hNRvzOCZlPgM" type="hidden"/>


        <div class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

            {% if admin.hasroute('list') and admin.hasAccess('list') %}
                <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
            {% endif %}

        </div>

    </form>
{% endblock %}