{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/weprovidetranslation/css/styles.css') }}">
{% endblock %}

{% block title %}
    - {% trans %}Translation list{% endtrans %}
{% endblock %}


{% block breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin/dashboard">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="active"><span>{% trans %}Translation list{% endtrans %}</span></li>
        </ol>
    </div>
{% endblock %}


{%- block actions -%}
    {% for item in admin.getActionButtons("", object|default(null)) %}
        {% if item.template is defined %}
            {% include item.template %}
        {% endif %}
    {% endfor %}
{%- endblock -%}


{% block list_table %}
    <div class="col-xs-12 col-md-12">

        <div class="box box-primary">
            <div class="box-body {% if translations and translations|length > 0 %}table-responsive no-padding{% endif %}">
                {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

                {% block list_header %}{% endblock %}

                {% if translations and translations|length > 0 %}
                    <table class="table table-bordered table-striped sonata-ba-list">
                        {% block table_header %}
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header-text">
                                    {% trans %}Domain{% endtrans %}
                                </th>
                                <th class="sonata-ba-list-field-header-text">
                                    {% trans %}Label{% endtrans %}
                                </th>
                            </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                            {% for translation in translations %}
                                <tr>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        <a class="sonata-link-identifier" href="{{ admin.generateUrl('edit', { domain: translation.domain, id: translation.id }) }}">
                                            {{ translation.domain }}
                                        </a>
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                        <span>
                                            {{ translation.id }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                        {% endblock %}
                    </table>
                {% else %}
                    {% block no_result_content %}
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%"></div>
                                </div>
                                <span class="progress-description">
                                </span>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}

                {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
            </div>


            {% block list_footer %}
                {% if translations and translations|length > 0 %}
                    <div class="box-footer">

                        {% set numberOfPages = (repository.getCount / admin.getFilterParameters._per_page)|round(0, 'ceil') %}

                        <div class="form-inline clearfix">
                            <div class="pull-right">
                                {% block pager_results %}
                                    {% block num_pages %}
                                        {{ admin.getFilterParameters._page }} / {{ numberOfPages }}
                                        &nbsp;-&nbsp;
                                    {% endblock %}

                                    {% block num_results %}
                                        {% transchoice repository.getCount with {'%count%': repository.getCount} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}
                                        &nbsp;-&nbsp;
                                    {% endblock %}

                                    {% block max_per_page %}
                                        <label class="control-label" for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}label_per_page{% endtrans %}</label>
                                        <select class="per-page small form-control" id="{{ admin.uniqid }}_per_page" style="width: auto">
                                            {% for per_page in admin.getperpageoptions %}
                                                <option {% if per_page == admin.getFilterParameters._per_page %}selected="selected"{% endif %} value="{{ admin.generateUrl('list', {'filter': admin.getFilterParameters|merge({'_page': 1, '_per_page': per_page})}) }}">
                                                    {{- per_page -}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        </div>

                        {% block pager_links %}
                            {% if admin.haveToPaginate(repository.getCount) %}
                                <hr/>
                                <div class="text-center">
                                    <ul class="pagination">
                                        {% if admin.getFilterParameters._page > 2 %}
                                            <li><a href="{{ admin.generateUrl('list', {'filter': admin.getFilterParameters|merge({'_page': 1})}) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a></li>
                                        {% endif %}

                                        {% if admin.getFilterParameters._page > 1 %}
                                            <li><a href="{{ admin.generateUrl('list', {'filter': admin.getFilterParameters|merge({'_page': admin.getFilterParameters._page-1})}) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a></li>
                                        {% endif %}

                                        {# Set the number of pages to display in the pager #}
                                        {% for page in admin.getLinks(admin.getMaxPageLinks, numberOfPages) %}
                                            {% if page == admin.getFilterParameters._page %}
                                                <li class="active"><a href="javascript:;">{{ page }}</a></li>
                                            {% else %}
                                                <li><a href="{{ admin.generateUrl('list', {'filter': admin.getFilterParameters|merge({'_page': page})}) }}">{{ page }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if admin.getFilterParameters._page < numberOfPages %}
                                            <li><a href="{{ admin.generateUrl('list', {'filter': admin.getFilterParameters|merge({'_page': admin.getFilterParameters._page+1})}) }}" title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a></li>
                                        {% endif %}

                                        {% if admin.getFilterParameters._page < numberOfPages - 1 %}
                                            <li><a href="{{ admin.generateUrl('list', {'filter': admin.getFilterParameters|merge({'_page': numberOfPages})}) }}" title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

    </div>
{% endblock %}







{#{% block list_filters_actions %}#}
    {#filter actions#}
{#{% endblock %}#}

{#{% block list_filters %}#}
    {#filters#}
{#{% endblock %}#}
